html,
body {
  margin: 0 0;
  width: 100%;
  height: 100%;
}

.layui-footer {
  font-size: 14px;
}

#welcome {
  margin-top: 10px;
  height: 60px;
}

#welcome a {
  color: white;
  font-size: 14px;
}

#welcome a img {
  padding-left: 10px;
}

.iconfont {
  margin-right: 10px;
}

.layui-icon-app {
  margin-right: 10px;
}

iframe {
  width: 100%;
  height: 100%;
}

.userinfo {
  position: relative;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  text-align: center;
  user-select: none;
}

.userinfo .layui-nav-img {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  z-index: 2;
}

#userImg1 {
  left: -30px;
}

#userImg1,
#userImg2 {
  display: none;
}

.font-header {
  display: none;
}

#welcome .userinfo {
  position: relative;
  border-bottom: 1px solid #282b33;
}

#welcome .userinfo .font-header {
  left: 10px;
}

.font-header {
  position: absolute;
  top: 10px;
  left: -30px;
  height: 40px;
  width: 40px;
  font-size: 30px;
  line-height: 40px;
  border-radius: 50%;
  z-index: 1;
  background-color: rgba(199, 199, 199, 0.5);
}
