html,
body {
  margin: 0;
  padding: 0;
  background: url(../images/login_bg.jpg) no-repeat center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

html img,
body img {
  margin: 10px;
}

html .login,
body .login {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 10% auto;
  width: 400px;
  height: 320px;
  background-color: #fff;
  box-shadow: -1px 2px 2px white;
}

html .login .input-group,
body .login .input-group {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

html .login .input-group img,
body .login .input-group img {
  margin: 20px;
  margin-left: 50%;
  transform: translate(-50%);
}

html .login .input-group .form-control,
body .login .input-group .form-control {
  padding-left: 32px;
}

html .login .input-group a,
body .login .input-group a {
  display: block;
  float: right;
  margin-top: 10px;
}

html #createAccount,
body #createAccount {
  display: none;
}

.layui-form-item {
  position: relative;
}

.layui-form-item .layui-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 4;
}
